<% if logged_in %>
<%= provide(:title, @current_user.name) %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
<%= provide(:title, "Welcome") %>
<div class="center jumbotron">
  <h1>Sample App</h1>
  
  <p>This is Sample App made by Przemysław Prokopczuk. All rights reserved.</p>
  
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary btn-custom" %>
</div>

<%= image_tag("1002023-cut-the-rope.jpg", alt: "Rails logo")%>
<% end %>
